  /* body{
    margin: 0;
    box-sizing: border-box;
  } */

.mainHome {
  margin: 0;
  padding: 0;
  height: 150vh;
  width: 100%;
  background-color: white;
}

.containerOne {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

}

.imgHomePage {
  position: relative0;;
}

.containerTwo {
  padding: 1%;
  position: absolute;
  width: 50%;
  align-items: center;
  top: 5%;
  left: 2%;
}

.TextImg {
  display: inline-flex;
  color: white;
  justify-content: center;
}
.subTextImg {
  width: 85%;
  color: white;

}
.buttonCont {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.btnImg {
  margin: 2% 0%;
  margin-right: 5%;
  color: white;
  background-color: #1CA4A4;
}

.blueConteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1%;
  height: 50vh;
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  padding: 1%;

}

.imgBlueCont {
  /* border: solid 1px red; */
  height: 70vh;
  display: flex;
  align-items: center;

}

.textBlueCont {
  position: absolute;
  width: 50%;
  right: 0;
  padding: 1%;
}

.textBlue {
  color: white;
}

.contBtnBlue {
  display: flex;
  justify-content: center;
}

.btnBlue {
  background-color: #1CA4A4;
  color: white;
  
}

.containerThree {
  display: flex;
  align-items: center;
  height: 50vh;
  background-color: white;
  padding: 1%;
}

.textContThree {
  width: 50%;
}

.btnThree {
  background-color: #1CA4A4;
  color: white;

}

.imgContThree {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
