.mainHome {
  margin: 0;
  padding: 0;
  height: 70vh;
  background-color: white;
  /* border: solid 1px red; */
}

.containerOne {
  display: flex;
  justify-content: center;

}

.imgHomePage {
  position: relative0;;
}

.containerTwo {
  padding: 1%;
  position: absolute;
  width: 50%;
  align-items: center;
  top: 5%;
  left: 2%;
}

.TextImg {
  display: inline-flex;
  color: white;
  justify-content: center;
}
.subTextImg {
  width: 85%;
  color: white;

}
.buttonCont {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.btnImg {
  margin: 2% 0%;
  margin-right: 5%;
  color: white;
  background-color: #1CA4A4;
}